.boxSection{
    margin-top: 25vh;
   justify-content: center;
}
.bx{
    width: 34%;
    flex-direction: column;
}
#boxHead{
    color: #42bb7d;
}
#boxPara{
    text-align: center;
    margin-top: 30px;
    color: #3a3b3b;
    font-weight: 550;
}
.boxes{
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}
.box{
    box-shadow: 0px 0px 5px 1px #9a9c9c;
    flex-direction: column;
    padding: 15px 49px;
    border-radius: 15px;
}
.box h1{
    color: #42bb7d;
    margin-bottom: 6px;
}
.box span{
    color: black;
    font-weight: 600;
}